.form {
    display: flex;
    flex-direction: column;  
    background-color: rgb(14 116 144);
    padding: 1rem; 
    margin: 5rem auto 0;
    gap: 1.25rem; 
    border-radius: 0.25rem; 
    border: 1px solid rgb(21 94 117);; 
    width: 25%; 
}