<div class="header">
    <p class="header-title" i18n>Привет. Твоя доска задач.</p>
    <p class="header-description" i18n>Чтобы поменять статус, перетащи задачу в нужное поле!</p>
  </div>
  <div class="board">
      <div class="list" (dragover)="onDragOver($event)" (drop)="onDrop('To Do')">
          <div class="list-header" i18n>Сделать</div>
              <div class="card" *ngFor="let task of filterTasks('To Do')" draggable="true" (dragstart)="onDragStart(task)">
                  <p class="title" i18n>Номер задания:</p>
                  <p class="description">{{task?.ticketId}}</p>
                  <p class="title" i18n>Статус:</p>
                  <p class="description">{{task?.status}}</p>
              </div>
      </div>
      <div class="list" (dragover)="onDragOver($event)" (drop)="onDrop('In Progress')">
          <div class="list-header" i18n>В ходе выполнения</div>
              <div class="card" *ngFor="let task of filterTasks('In Progress')" draggable="true" (dragstart)="onDragStart(task)">
                  <p class="title" i18n>Номер задания:</p>
                  <p class="description" i18n>{{task?.ticketId}}</p>
                  <p class="title" i18n>Статус:</p>
                  <p class="description" i18n>{{task?.status}}</p>
              </div>
      </div>
      <div class="list" (dragover)="onDragOver($event)" (drop)="onDrop('Under Review')">
          <div class="list-header" i18n>На рассмотрении</div>
              <div class="card" *ngFor="let task of filterTasks('Under Review')" draggable="true" (dragstart)="onDragStart(task)">
                  <p class="title" i18n>Номер задания:</p>
                  <p class="description">{{task?.ticketId}}</p>
                  <p class="title" i18n>Статус:</p>
                  <p class="description">{{task?.status}}</p>
              </div>
      </div>
      <div class="list" (dragover)="onDragOver($event)" (drop)="onDrop('Done')">
          <div class="list-header" i18n>Сделанный</div>
              <div class="card" *ngFor="let task of filterTasks('Done')" draggable="true" (dragstart)="onDragStart(task)">
                  <p class="title" i18n>Номер задания:</p>
                  <p class="description">{{task?.ticketId}}</p>
                  <p class="title" i18n>Статус:</p>
                  <p class="description">{{task?.status}}</p>
              </div>
      </div>
      <div class="list" (dragover)="onDragOver($event)" (drop)="onDrop('Cancelled')">
          <div class="list-header" i18n>Отменено</div>
              <div class="card" *ngFor="let task of filterTasks('Cancelled')" draggable="true" (dragstart)="onDragStart(task)">
                  <p class="title" i18n>Номер задания:</p>
                  <p class="description">{{task?.ticketId}}</p>
                  <p class="title" i18n>Статус:</p>
                  <p class="description">{{task?.status}}</p>
              </div>
      </div>
      <div class="list" (dragover)="onDragOver($event)" (drop)="onDrop('Rejected')">
          <div class="list-header" i18n>Отклоненный</div>
              <div class="card" *ngFor="let task of filterTasks('Rejected')" draggable="true" (dragstart)="onDragStart(task)">
                  <p class="title" i18n>Номер задания:</p>
                  <p class="description">{{task?.ticketId}}</p>
                  <p class="title" i18n>Статус:</p>
                  <p class="description">{{task?.status}}</p>
              </div>
      </div>
    </div>

  <app-button-logout></app-button-logout>

  